video {
  width: 100%;
}

/*.well-podigee-info {*/
  /*background-color: #86B1DF;*/
  /*border-color: #86B1DF;*/
  /*color: #fff;*/
/*}*/
.alert-sm {
  padding: 10px;
}

.navbar-brand {
  padding: 5px 0;
}

.podigee-logo {
  height: 40px;
}

.page-header,
.page-header h1 {
  margin-top: 0;
}

footer .podigee-logo {
  float: left;
  margin-right: 10px;
}

footer .made-in-berlin-badge {
  height: 50px;
}
